<!DOCTYPE html>
<html>
  <head>
        
        <%- include("include/head", {title: "Add Category"}); %>
  </head>

  <body>
      <%- include("include/navbar"); %>
    

    <h1>
      <form method="POST" action="/categories/add">
        <div id="form-group">
          <label>Category ID:</label>
          <input class="form-control" name="catId" type="text" />
        </div>
        <div id="form-group">
          <label>Category Name:</label>
          <textarea class="form-control" name="catName"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </h1>
  </body>
</html>
