<!DOCTYPE html>
<html lang="en">

  <head>
      <%- include("include/head", {title: "Add A Task"}); %>
    
  </head>
  <body style="background-color: #282c34">
      <%- include("include/navbar"); %>
      <div class="container-fluid" style="background-color: white">
        <div class="row">
          <div class="container mt-5" style="min-height:70vh">
              <div class="row">
                  <div class="col">
                    <h4><i class="fas fa-handshake"></i>&nbsp;&nbsp; <i>Task Requester</i></h4>
                  </div>
              </div>
            <div class="row">
                <%- include("include/tr_sidebar"); %>
              <div class="col-9">
                <div class="row">
                  <div class="col text-center">
                    <h1>I would like to...</h1><br/>
                    <a href="/taskRequesters/addRequests" class="btn btn-primary">Send A Task Request to a Tasker</a> &nbsp; or  &nbsp;
                    <a href="/taskRequesters/addListings" class="btn btn-primary">Put Task Up for Bidding</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>