<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head", {title: "Put a Task up for Bidding"}); %>
  </head>

  <body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container pt-5 mb-5" style="min-height:70vh">
          <%- messages('include/message', locals) %>
          <div class="row">
            <div class="col text-center">
              <h3>Put a Task up for <mark>Bidding</mark></h3>
            </div>
          </div>
            
              <form method="POST" , action="/taskRequesters/addListings">
                <div id="form-group row">
                  <label class="col-sm-2 col-form-label py-3">Task Name:</label>
                  <div class="col-sm-10 py-3">
                    <textarea class="form-control" name="taskName" placeholder="Headline of your task e.g. Help Moving to 5-room apartment"></textarea>
                  </div>
                  
                </div>
                <div id="form-group row">
                    <label class="col-sm-2 col-form-label py-3">Description:</label>
                    <div class="col-sm-10 py-3">
                      <textarea class="form-control" name="description" placeholder="Describe the scale of your task, expected duration, equipment/vehicle needed from tasker, location etc. The more details the better!" rows="5"></textarea>
                    </div>
                    
                </div>
                
                <div id="form-group row">
                    <label class="col-sm-2 col-form-label py-3">Task Start Date / Time:</label>
                    <div class="col-sm-10 py-3">
                      <input type="datetime-local" name="taskstartdatetime">
                    </div>
                </div>
                <div id="form-group row">
                    <label class="col-sm-2 col-form-label py-3">Task End Date / Time:</label>
                    <div class="col-sm-10 py-3">
                      <input type="datetime-local" name="taskendtime">
                    </div>
                </div>

                <div id="form-group row">
                    <label class="col-sm-2 col-form-label py-3">Deadline:</label>
                    <div class="col-sm-10 py-3">
                      <input type="datetime-local" name="deadline">
                    </div>
                </div>
                <div id="form-group row">
                    <label class="col-sm-2 col-form-label py-3">Starting Bid:</label>
                    <div class="col-sm-10 py-3">
                       $ <input type="number" name="startingBid">
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col text-center">
                      <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>
                  </div>

              </form>
            
          </div>
        </div>
      </div>
    </div>
    <%- include("include/footer"); %>
  </body>
</html>