<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("include/head", {title: "Email Sent"}); %>
  </head>


<body style="background-color: #282c34">
    <%- include("include/navbar"); %>
    <div class="container-fluid" style="background-color: white">
      <div class="row">
        <div class="container pt-5 mb-5" style="min-height:70vh">
          <%- messages('include/message', locals) %>
          <div class="row">
            <div class="col text-center">
                <h3>Email Successfully Sent</h3>

                <div class="text-center">	
                  
                        
                        <a href="/home" class="btn btn-outline-secondary">Back</a>
                    
                </div>
            </div>
          
          
        </div>
      </div>
    </div>
  </div>
  <%- include("include/footer"); %>
</body>
</html>
