<!DOCTYPE html>
<html>
  <head>
      <%- include("include/head", {title: "Login Form"}); %>
  </head>

  <body>
      <%- include("include/navbar"); %>
    <h1>Log In</h1>
    <form method="POST" action="/users/login">
      <div id="form-group">
        <label>Username:</label>
        <input class="form-control" name="username" type="text" />
      </div>
      <div id="form-group">
        <label>Password: </label>
        <input class="form-control" name="password" type="text" />
      </div>
      <input class="btn btn-primary" type="submit" value="Log In" />
    </form>
  </body>
</html>
