<!DOCTYPE html>
<html>
  <head>
    <%- include("include/head", {title: "Tasker Profile"}); %>
  </head>

    <body>
        <%- include("include/navbar"); %>
        <div class='container'>
            <h1>NEW TASK CREATED</h1>
        </div>
    </body>
</html>