<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("include/head", {title: "Register"}); %>
    </head>

    <body style="background-color: #282c34">
        <%- include("include/navbar"); %>
        <div class="container-fluid pt-5" style="background-color: white;background-image:url('/images/index_flatlay.jpg');background-repeat: no-repeat;background-position:center;background-size:cover;">
            <div class="row">
                <div class="container" style="min-height:70vh">
                    <h1>Join the force.</h1>
                    <%- messages('include/message', locals) %>
                    <div class="row">
                        <div class="col">
                            <form method="POST" action="/users/register">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Name</label>
                                        <input class="form-control" name="name" type="text" required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Username</label>
                                        <input class="form-control" name="username" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label>Gender</label>
                                      <select class="form-control" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Email: </label>
                                        <input class="form-control" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Password: </label>
                                        <input class="form-control" name="password" type="password" required/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Confirm Password: </label>
                                        <input class="form-control" name="password2" type="password" required/>
                                    </div>
                                    
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input class="btn btn-lg btn-primary" type="submit" value="Register" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("include/footer"); %>
    </body>
</html>