<!DOCTYPE html>
<html>

<head>


</head>

<body>

    <h1>Register
        <form method="POST" action="/users/register">
            <div id="form-group">
                <label>Id:</label>
                <input class="form-control" name="id" type="text" />
            </div>
            <div id="form-group">
                <label>Name:</label>
                <input class="form-control" name="name" type="text" />
            </div>
            <div id="form-group">
                <label>Username: </label>
                <input class="form-control" name="username" type="text" />
            </div>
            <div id="form-group">
                <label>Password: </label>
                <input class="form-control" name="password" type="password" />
            </div>
            <div id="form-group">
                <label>Confirm Password: </label>
                <input class="form-control" name="password2" type="password" />
            </div>
            <input class="btn btn-primary" type="submit" value="Register" />
        </form>
    </h1>
</body>

</html>