<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PROFILE</title>
    <%- include("include/head", {title: "PROFILE"}); %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus') })
    </script>

  </head>
  <body>
    <%- include("include/navbar"); %>
    <div>
        <h1>PROFILE</h1> </br></br>
        <div>
            <h5>Name: <%= cusInfo[0].name %></h5>
            <h5>Username: <%= cusInfo[0].username %></h5>
        </div></br></br>
    </div>
    
    <div>
      <h2>My Tasks</h2>

      <p>Loop through database to find and list all the tasks</p>

    </div></br></br>
   




    <div>
      <h1>SIDE BAR FUNCTIONS</h1>
      <form action="/taskers/viewMyBids", method="GET">
        <button type="submit" class="btn btn-outline-secondary">VIEW BIDS - TASKER</button>
      </form> 
      <form action="/taskers/taskerReviews", method="GET">
        <button type="submit" class="btn btn-outline-secondary">VIEW REVIEWS - TASKER</button>
      </form> 
      <form action="/taskers/taskerRequests", method="GET">
        <button type="submit" class="btn btn-outline-secondary">VIEW REQUEST - TASKERR</button>
      </form> 
      <form action="/taskers/taskerSettings", method="GET">
        <button type="submit" class="btn btn-outline-secondary">VIEW ACCOUNT SETTINGS - TASKER</button>
      </form> 
    </div>
    
   
  </body>
</html>
