<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("include/head", {title: "Update Listing"}); %>

</head>

  <body style="background-color: #282c34">
      <%- include("include/navbar"); %>
      <div class="container-fluid" style="background-color: white">
        <div class="row">
          <div class="container mt-5" style="min-height:70vh">
            <%- messages('include/message', locals) %>
            <div class="row">
              <div class="col text-center">
              <h1>Update Listing Details</h1>
              <form method="POST" , action="/taskRequesters/updateListings/<%= task[0].taskid %>">
                <div id="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" name="newDescription"></textarea>
                </div>
                <div id="form-group">
                    <label>Task Start Date / Time:</label>
                    <input type="datetime-local" name="newTaskStartDateTime"> 
                </div>
                <div id="form-group">
                    <label>Task End Date / Time:</label>
                    <input type="datetime-local" name="newTaskEndDateTime"> 
                </div>
                <div id="form-group">
                    <label>Deadline:</label>
                    <input type="datetime-local" name="newDeadline">
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>