<div class="container-fluid" style="background-color: #282c34;color:white; min-height:10vh;">
    <div class="container">
        <div class="row" style="padding: 5vh">
            <div class="col-md-4">
                <h5>About</h5>
            </div>
            <div class="col-md-4">
                <h5>Follow us</h5>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
            </div>
        </div>
    </div>
</div>