<div>
    <% Object.keys(messages).forEach(function (type) { %>
        <% if(type == "error   "){ %>
            <div class="alert alert-warning" role="alert">
        <% } else { %> 
        <div class="alert alert-<%= type %>" role="alert">
        <% }; messages[type].forEach(function (message) { %>
            <%- message %>
        <% }) %>
        </div>
    <% }) %>
</div>