  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="137" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if(typeof user !== 'undefined' && user != null){ %>
          <li class="nav-item"><a class="nav-link" href="/taskers">Tasker <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/taskRequesters/">View TaskRequester Profile <span class="sr-only">(current)</span></a></li>
        <%}%>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(typeof user === 'undefined' || user == null){ %>
          <li class="nav-item"> <a class="btn btn-primary" href="/users/register">Register</a></li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item"> <a class="btn btn-primary" href="/users/login">Log In</a></li>
        <% } else { %>
          <li class="nav-item">
            <a class="btn btn-primary" href="">Pending Tasks <span class="badge badge-light">0</span></a>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item"><a class="btn btn-primary" href="/users/login"><i class="fas fa-user-circle"></i>&nbsp;&nbsp;&nbsp;<%=user.username%></a></li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item"><a class="btn btn-outline-primary" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        <%}%>
      </ul>
    </div>

  </nav>