<div class="col-2 border-right">
    <br/>
    <a href="/listings/viewAllAvailable/"><button type="button" class="btn btn-light btn-block">View Available Listings</button></a>
    <br/>
    <a href="/taskers/viewMyPendingTasks/"><button type="button" class="btn btn-light btn-block">My Pending Tasks</button></a>
    <br/>
    <a href="/taskers/viewMyCompletedTasks/"><button type="button" class="btn btn-light btn-block">My Completed Tasks</button></a>
    <br/>
    <a href="/taskers/viewMyBids/"><button type="button" class="btn btn-light btn-block btn-block">My Bids</button></a>
    <br/>
    <a href="/taskers/viewMyReviews/"><button type="button" class="btn btn-light btn-block">My Reviews</button></a>
    <br/>
    <a href="/taskers/viewRequests/"><button type="button" class="btn btn-light btn-block">My Requests</button></a>
    <br/>
    <a href="/taskers/taskerSettings/"><button type="button" class="btn btn-light btn-block">Account Settings</button></a>
    <br/><br/>

</div>
