<div class="col-3 p-5 border">
    <br/>
    <blockquote class="blockquote"><a href="taskers/viewMyPendingTasks/" class="">My Pending Tasks</a></blockquote>
    <blockquote class="blockquote"><a href="taskers/viewMyBids/" class="">My Bids</a></blockquote>
    <blockquote class="blockquote"><a href="taskers/viewMyReviews/" class="">My Reviews</a></blockquote>
    <blockquote class="blockquote"><a href="taskers/viewRequests/" class="">My Requests</a></blockquote>
    <blockquote class="blockquote"><a href="taskers/taskerSettings/" class="">Account Settings</a><br/></blockquote>
    </br>
    
</div>
