
<div class="col-2 border-right">
    <br/>
    <a href="/taskRequesters/addTasks/"><button type="button" class="btn btn-light btn-block">Add a Task</button></a>
    <br/>
    <a href="/taskRequesters/viewAllTasks/"><button type="button" class="btn btn-light btn-block">All My Tasks</button></a>
    <br/>
    <a href="/taskRequesters/viewCompletedTasks/"><button type="button" class="btn btn-light btn-block">My Completed Tasks</button></a>
    <br/>
    <a href="/taskRequesters/viewPendingTasks/"><button type="button" class="btn btn-light btn-block btn-block">My Pending Tasks</button></a>
    <br/>
    <a href="/taskRequesters/viewCompletedTasks/"><button type="button" class="btn btn-light btn-block">Submit Review</button></a>
    <br/>
    <a href="/taskRequesters/my_bids/"><button type="button" class="btn btn-light btn-block">Bids Received</button></a>

</div>
