<div class="col-3 p-5 border">
  <br/>
  <blockquote class="blockquote"><a href="/taskRequesters/addTasks/" class="">Add a Task</a></blockquote>
  <blockquote class="blockquote"><a href="/taskRequesters/viewAllTasks/" class="">All Tasks</a></blockquote>
  <blockquote class="blockquote"><a href="/taskRequesters/viewCompletedTasks/" class="">Completed Tasks</a></blockquote>
  <blockquote class="blockquote"><a href="/taskRequesters/viewPendingTasks/" class="">Pending Tasks</a></blockquote>
  <blockquote class="blockquote"><a href="/taskRequesters/my_bids/" class="">Bids</a><br/></blockquote>
  </br>

</div>