
<div class="row">
    <div class="col">
    <div class="media">
        <img data-src="holder.js/100x100" class="mr-3" alt="..."/>
        <div class="media-body">
        <h1 class="mt-0"><%=user.name%></h1>
        <p><small>
            <%=user.username%>
            <br/>
            <%=user.email%></small>
        </p>
        </div>
    </div>
    </div>
</div>
               