doctype html 
html 
    head
        title KnowledgeBase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        
    body 

        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') KnowledgeBase
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    if user 
                        li.nav-item
                            a.nav-link(href='/articles/add') Add Article
                
                ul.nav.navbar-nav.navbar-right  
                    if user 
                        li.nav-item 
                            a.nav-link(href='/users/logout') Log Out
                    else 
                        li.nav-item 
                            a.nav-link(href='/users/register') Register
                        li.nav-item 
                            a.nav-link(href='/users/login') Log In
            






        .container
            != messages('message', locals)
            block content 
            br 
            hr 
            footer 
                p Copyright &copy;

        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')
        